* {
    box-sizing: border-box;
    padding: 0em;
    margin: 0em;
}

:root {
    --clr-background: #181818;
    --clr-main-text: #FFFFFF;
    --clr-small-text: #D0D0D0;
    --clr-primary: #00D146;
}

@font-face {
    font-family: "Lunchtype", "sans-serif";
    src: url(assets/lunchtype24-medium-expanded-webfont.woff);
}

@font-face {
    font-family: "Plus jakarta sans", "sans-serif";
    src: url(assets/PlusJakartaSans-Regular.ttf);
}

body {
    background: var(--clr-background);
    color: var(--clr-main-text);
    margin: 0;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 2em;
}

nav {
    padding-top: 1em;
}

.mobile-nav {
    display: flex;
    gap: 0.5em;
}

h1 {
    color: var(--clr-main-text);
    font-family: "Lunchtype", "sans-serif";
    font-size: 2.25em;
    font-weight: 700;
    margin: 1em;
    margin-bottom: 0;
}

main hr {
    border: 4px solid var(--clr-primary);
    margin:  0 0 1em 6.5em;
    width: 5.5em
}

p  {
    color: var(--clr-small-text);    
    font-family: "Lunchtype", "sans-serif";
    line-height: 1.4em;
    margin: 1em 1em 1em 2em;
    max-width: 18em;
}

select {
    margin: 1em 3.8em 1em 3.8em;
    border-radius: 16px;
}

img {
    border-radius: 16px;
    margin: 0.5em;
    width: 19em;
}

.emp-inf {
    background-color: var(--clr-background);
    color: var(--clr-small-text);    
    font-family: "Plus jakarta sans", "sans-serif";
    height: 19.3em;
    list-style: none;
    opacity: 0.9;
    padding: 1em 1em 1em 2em; 
    position: absolute;
    top: 0.2em;
    visibility: hidden;
    width: 19.47em;
}

.show-emp-inf {
    background-color: var(--clr-background);
    color: var(--clr-small-text);    
    font-family: "Plus jakarta sans", "sans-serif";
    height: 19.3em;
    list-style: none;
    opacity: 0.9;
    padding: 1em 1em 1em 2em; 
    position: absolute;
    top: 0.2em;
    visibility: visible;
    width: 19.47em;
}

main ul li:first-child, li:nth-child(3n+3) {
    margin-bottom: 0.5em;
}

main ul li:first-child {
    color: var(--clr-primary);
}

main li:last-child {
    width: 15em;
}

.employee {
    position: relative;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
}

hr{
    border: 0.2px solid var(--clr-small-text);
    margin:  0 1em 0 1em;
}

a {
    color: var(--clr-small-text);
    text-decoration: none;
}

footer  ul {
    line-height: 2em;
    list-style: none;
    margin: 0 1em 0 1em;
}

@media  (min-width:750px){
    body {
        margin: 0 3em 0 3em;
--    }

    article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.9em;
        margin: 1em;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer  ul {
        display: flex;
        gap: 1em;
    }
    
}