* {
    box-sizing: border-box;
    padding: 0em;
    margin: 0em;
}

:root {
    --clr-background: #181818;
    --clr-main-text: #FFFFFF;
    --clr-small-text: #D0D0D0;
    --clr-primary: #00D146;
    --clr-neutral-600: #585858;
}

body {
    background: var(--clr-background);
    color: var(--clr-main-text);
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* NAVIGATIEBALK STIJLING */

#logo {
    margin: 2em 1em 1em 2em;
}

header {
    margin: 1em 0.5em 2em 0.5em;
    position: relative;

    .nav-menu p {
        display: none;
    }
}

@media (max-width:930px){
        .navbar {
            align-items: center;
            display: flex;
            height: 4em;
            justify-content: space-between;
            padding: 0 24px;
        }

        .nav-menu {
            opacity: 0;
            transition: opacity 0.3s ease-in; 
            align-items: end;
            background-color: var(--clr-background);
            display: flex;
            flex-direction: column;
            font-size: 1.2em;
            line-height: 2em;
            list-style: none;
            position: absolute;
            top: 4em;
            right: 2em;
            z-index: 100;
        }
        
        .show-nav-menu {
            opacity: 1;
        }

        .nav-menu a:hover {
            border-bottom: var(--clr-primary) solid 1px;
            cursor: pointer;
        }

        .bar {
            background-color: var(--clr-main-text);
            color: var(--clr-main-text);
            display: block;
            height: 3px;
            margin: 5px auto;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            width: 25px;
        }

        .hamburger {
            background: var(--clr-background);
            border: var(--clr-neutral-600) solid 1px;
            border-radius: 24px;
            display: none;
            cursor: pointer;
            padding: 12px;
            position: absolute;
            top: 1em;
            right: 1em;
        }
        
        .hamburger.active {
            animation: big-menu 0.3s ease;
            padding: 12px 12px 19em 8em;
            /* border: var(--clr-primary) solid 1px; */
        }

        @keyframes big-menu {
            0% {padding: 12px;} 100% {padding: 12px 12px 19em 8em;}
        }

        .hamburger.active .bar:nth-child(1) {
            transform: rotate(-45deg) translateY(3px) translateX(3px);
        }

        .hamburger.active .bar:nth-child(2) {
            transform: rotate(45deg) translate(-3px, -8px);
        }

        .hamburger {
            display: block;
        }
    }   

@media (min-width:930px) {
    .nav-menu {
        display: flex;
        flex-direction: row;
        font-size: 1.2em;
        gap: 1.5em;
        justify-content: space-between;
        list-style: none;
        position: absolute; top: 2em; right: 6em;

    }

    .navbar {
        display: flex;
        margin-bottom: 2em;
        padding: 0;
        position: relative;
        width: 100vw;
    }

    .nav-menu a:hover, .nav-menu li:nth-child(3) {
        border-bottom: var(--clr-primary) solid 2px;
        cursor: pointer;
    }
}

/* EINDE NAVIGATIEBALK STIJLING */

h1 {
    color: var(--clr-main-text);
    font-size: 56px;
    font-weight: 700;
    margin: 0em 1em 0em 1em;
}

h2 {
    display: none;
}
h3 {
    color: var(--clr-main-text);
    font-size: 1.25em;
    margin: 1em 1em 1em 3em;
    font-weight: 100;
}

.line {
    background-color: var(--clr-primary);
    display: block;
    height: 4px;
    margin: 0em 0em 1em 10.5em;
    width: 150px;
}

 p {
    color: var(--clr-small-text);
    font-family: 'Plus Jakarta Sans', sans-serif; 
    line-height: 1.4em;
    margin: 2em 2em 2em 3.7em;
    max-width: 30em;
 }

 section:last-child p {
    font-family: 'Ubuntu', sans-serif;
 }

 label {
    margin: 1em 1em 0em 4em;
    color: var(--clr-small-text);
}

 form {
    display: flex;
    flex-direction: column;
 }

 select {
    background-color: var(--clr-background);
    border-radius: 24px;
    color: var(--clr-main-text);
    cursor: pointer;
    margin: 1em 5em 1em 5em;
    padding: 10px 16.6px 10px 16.6px;
    width: 250px;
}

select:focus {
    border: solid 1px var(--clr-primary);
}

section img {
    background: linear-gradient(to top, transparent, black);
    border-radius: 16px;
    width: 19em;
    cursor: pointer;
}

.ALL-EMPLOYEES {
    margin: 0.5em 0 0.5em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.employee:last-child {
    margin: 1em;
}

.employee {
    position: relative;
    margin: 0.5em 1em 0.5em 1em;
}

.employee-link {
    position: relative;
}

.pijl {
    position: absolute;
    bottom: 1em;
    right: 1em;
    z-index: 999;
}

.gradient {
    height: 5em;
    width: 100%;
    background-image: linear-gradient(to top, var(--clr-background), transparent);
    position: absolute;
    bottom: 0em;
}

.employee-link p {
    font-size: 1.1em;
    position: absolute;
    bottom: -1em;
    left: -2.5em;
    color: var(--clr-main-text);
}

.employee-info {
    background-color: var(--clr-background);
    color: var(--clr-small-text);    
    height: 20em;
    list-style: none;
    opacity: 0.9;
    padding: 1em 1em 1em 2em; 
    position: absolute;
    top: 0em;
    visibility: hidden;
    width: 19.47em;
}

.employee-info-visible {
    visibility: visible;
    animation: info-popup 1s ease-out ;
}

@keyframes info-popup {
    0% {
        opacity: 0.9;
        transform: translateY(100%);
      }
      
      50% {
        transform: translateY(0);
      }
      75% {
        transform: translateY(-15px);
      }
      100% {
        opacity: 0.9;
        transform: translateY(0);
      }
  }

.employee-info li:first-child {
    color: var(--clr-primary);
    margin-bottom: 0.5em;
}

.employee-info li:last-child {
    margin-top: 0.5em;
}

footer {
    display: flex;
    flex-direction: column;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 1em;
}

a {
    color: var(--clr-small-text);
    text-decoration: none;
}

footer  ul {
    line-height: 2em;
    list-style: none;
    margin: 0 1em 0 1em;
}

footer p {
    margin: 0;
}

.line2 {
    background-color: var(--clr-small-text);
    display: block;
    height: 1px;
    margin: 0em 0.5em 0em 0.5em;
    width: 100;
}

@media  (min-width:870px){
    body {
        margin: 0 3em 0 3em;
    }

    section:last-child {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.9em;
        margin: 1em;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1em 2em 1em 2em
    }

    footer  ul {
        display: flex;
        gap: 1em;
    } 
}