* {
    box-sizing: border-box;
    padding: 0em;
    margin: 0em;
}

:root {
    --clr-background: #181818;
    --clr-main-text: #FFFFFF;
    --clr-small-text: #D0D0D0;
    --clr-primary: #00D146;
    --clr-neutral: #585858;
}

body {
    background: var(--clr-background);
    color: var(--clr-main-text);
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* NAVIGATIEBALK STIJLING */
.navbar {
    align-items: center;
    display: flex;
    height: 4em;
    justify-content: space-between;
    padding: 0 24px;
}

.nav-menu {
    align-items: start;
    background-color: var(--clr-primary);
    box-shadow: 5px 3px 3px var(--clr-small-text);
    display: flex;
    font-size: 1.2em;
    justify-content: start;
    line-height: 2em;
    list-style: none;
    padding: 2em  0em 1.7em 7em ;
    width: 100%;
}

.nav-menu li:hover {
    color: var(--clr-primary);
    cursor: pointer;
}

.bar {
    background-color: var(--clr-main-text);
    color: var(--clr-main-text);
    display: block;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    width: 25px;
}

.hamburger {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 1em;
    right: 1em;
}

@media (max-width:930px){
    .hamburger {
        display: block;
    }
    .nav-menu-largescreen {
        visibility: hidden;
    }
    }
    .hamburger.active .bar:first-child {
        transform: translateY(0px) rotate(45deg);
    }
    .hamburger.active .bar:last-child {
        transform: translateY(0px) rotate(-45deg);
    }

    .nav-menu{
        background-color: var(--clr-background);
        flex-direction: column;
        gap: 0;
        left: -130%;
        position: absolute;
        transition: 0.8s;
        text-align: center;
        top: 60px;
        width: 100%;
    }
    
    .nav-menu.active {
        left: 0;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6em;
        padding: 0;
        width: 100vw;
    }

/* EINDE NAVIGATIEBALK STIJLING */

h1, h2 {
    color: var(--clr-main-text);
    font-size: 2.25em;
    font-weight: 700;
    margin: 1em 1em 0em 1em;
}

.line {
    background-color: var(--clr-primary);
    display: block;
    height: 3px;
    margin: 0em 0em 1em 6.8em;
    width: 100px;
}
 p {
    margin: 1em;
 }

 .functie-btn {
    background-color: var(--clr-background);
    border: solid 1px var(--clr-neutral);
    border-radius: 24px;
    color: var(--clr-main-text);
    cursor: pointer;
    padding: 10px 16.6px 10px 16.6px;
    height: 4.5em;
    width: 11.5em;
    margin: 0.5em;
 }

 .functie-btn:hover {
    border: solid 1px var(--clr-primary);

 }