* {
    box-sizing: border-box;
    padding: 0em;
    margin: 0em;
}

:root {
    --clr-background: #181818;
    --clr-main-text: #FFFFFF;
    --clr-small-text: #D0D0D0;
    --clr-primary: #00D146;
    --clr-neutral: #585858;
}

body {
    background: var(--clr-background);
    color: var(--clr-main-text);
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* NAVIGATIEBALK STIJLING */
.navbar {
    align-items: center;
    display: flex;
    height: 4em;
    justify-content: space-between;
    padding: 0 24px;
}

.nav-menu {
    align-items: start;
    background-color: var(--clr-primary);
    box-shadow: 5px 3px 3px var(--clr-small-text);
    display: flex;
    font-size: 1.2em;
    justify-content: start;
    line-height: 2em;
    list-style: none;
    padding: 2em  0em 4.2em 7em ;
    width: 100%;
}

.nav-menu li:hover {
    color: var(--clr-primary);
    cursor: pointer;
}

.bar {
    background-color: var(--clr-main-text);
    color: var(--clr-main-text);
    display: block;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    width: 25px;
}

.hamburger {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 1em;
    right: 1em;
}

@media (max-width:930px){
    .hamburger {
        display: block;
    }
    .nav-menu-largescreen {
        visibility: hidden;
    }
    }
    .hamburger.active .bar:first-child {
        transform: translateY(0px) rotate(45deg);
    }
    .hamburger.active .bar:last-child {
        transform: translateY(0px) rotate(-45deg);
    }

    .nav-menu{
        background-color: var(--clr-background);
        flex-direction: column;
        gap: 0;
        left: -130%;
        position: absolute;
        transition: 0.8s;
        text-align: center;
        top: 60px;
        width: 90%;
    }
    
    .nav-menu.active {
        left: 0;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6em;
        padding: 0;
        width: 100vw;
    }

    @media (min-width:930) {
        .nav-menu {
            display: flex;
            flex-direction: row;
            visibility: visible;
        }
    }

/* EINDE NAVIGATIEBALK STIJLING */

h1 {
    color: var(--clr-main-text);
    font-size: 2.25em;
    font-weight: 700;
    margin: 1em 1em 0em 1em;
}

h2 {
    color: var(--clr-main-text);
    font-size: 1.25em;
    margin: 1em 1em 0em 1em;
}
.line {
    background-color: var(--clr-primary);
    display: block;
    height: 3px;
    margin: 0em 0em 1em 6.8em;
    width: 100px;
}
 p {
    color: var(--clr-small-text);    
    line-height: 1.4em;
    margin: 2em;
    max-width: 19em;
 }

 label {
    visibility: hidden;
 }

 form {
    display: flex;
    flex-direction: column;
 }
 select {
    background-color: var(--clr-background);
    border-radius: 24px;
    color: var(--clr-main-text);
    margin: 1em 5em 1em 5em;
    padding: 10px 16.6px 10px 16.6px;
    width: 250px;
}

select:focus {
    border: solid 1px var(--clr-primary);
}

section img {
    border-radius: 16px;
    width: 19em;
    cursor: pointer;
}

section:last-child {
    margin: 0.5em 1em 0.5em 1em;
}

.employee-1, .employee-2, .employee-3, .employee-4, .employee-5, .employee-6, .employee-7, .employee-8, .employee-9, .employee-10, .employee-11, .employee-12, .employee-13, .employee-14, .employee-15, .employee-16, .employee-17, .employee-18, .employee-19, .employee-20, .employee-21, .employee-22, .employee-23, .employee-24, .employee-25, .employee-26, .employee-27, .employee-28, .employee-29, .employee-30, .employee-31, .employee-32, .employee-33, .employee-34, .employee-35, .employee-36, .employee-37, .employee-38, .employee-39, .employee-40, .employee-41, .employee-42, .employee-43, .employee-44 {
    margin: 0.5em 1em 0.5em 1em;
}

#emp-inf-1, #emp-inf-2, #emp-inf-3, #emp-inf-4, #emp-inf-5, #emp-inf-6, #emp-inf-7, #emp-inf-8, #emp-inf-9, #emp-inf-10, #emp-inf-11, #emp-inf-12, #emp-inf-13, #emp-inf-14, #emp-inf-15, #emp-inf-16, #emp-inf-17, #emp-inf-18, #emp-inf-19, #emp-inf-20, #emp-inf-21, #emp-inf-22, #emp-inf-24, #emp-inf-25, #emp-inf-26, #emp-inf-27, #emp-inf-28, #emp-inf-29, #emp-inf-30, #emp-inf-31, #emp-inf-32, #emp-inf-33, #emp-inf-34, #emp-inf-35, #emp-inf-36, #emp-inf-37, #emp-inf-38, #emp-inf-39, #emp-inf-40, #emp-inf-41, #emp-inf-42, #emp-inf-43, #emp-inf-44 {
    background-color: var(--clr-background);
    color: var(--clr-small-text);    
    height: 19.3em;
    list-style: none;
    opacity: 0.9;
    padding: 1em 1em 1em 2em; 
    position: absolute;
    top: 0.2em;
    visibility: hidden;
    width: 19.47em;
}

#show-emp-inf-1, #show-emp-inf-2, #show-emp-inf-3, #show-emp-inf-4, #show-emp-inf-5, #show-emp-inf-6, #show-emp-inf-7, #show-emp-inf-8, #show-emp-inf-9, #show-emp-inf-10, #show-emp-inf-11, #show-emp-inf-12, #show-emp-inf-13, #show-emp-inf-14, #show-emp-inf-15, #show-emp-inf-16, #show-emp-inf-17, #show-emp-inf-18, #show-emp-inf-19, #show-emp-inf-20, #show-emp-inf-21, #show-emp-inf-22, #show-emp-inf-23, #show-emp-inf-24, #show-emp-inf-25, #show-emp-inf-26, #show-emp-inf-27, #show-emp-inf-28, #show-emp-inf-29, #show-emp-inf-30, #show-emp-inf-31, #show-emp-inf-32, #show-emp-inf-33, #show-emp-inf-34, #show-emp-inf-35, #show-emp-inf-36, #show-emp-inf-37, #show-emp-inf-38, #show-emp-inf-39, #show-emp-inf-40, #show-emp-inf-41, #show-emp-inf-42, #show-emp-inf-43, #show-emp-inf-44 {
    background-color: var(--clr-background);
    color: var(--clr-small-text);    
    height: 19.3em;
    list-style: none;
    opacity: 0.9;
    padding: 1em 1em 1em 2em; 
    position: absolute;
    top: 0.2em;
    visibility: visible;
    width: 19.47em;
}

.line2 {
    background-color: var(--clr-small-text);
    display: block;
    height: 1px;
    margin: 0em 0.5em 0em 0.5em;
    width: 100;
}

footer {
    display: flex;
    flex-direction: column;
}

a {
    color: var(--clr-small-text);
    text-decoration: none;
}

footer  ul {
    line-height: 2em;
    list-style: none;
    margin: 0 1em 0 1em;
}

@media  (min-width:870px){
    body {
        margin: 0 3em 0 3em;
    }

    section:last-child {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.9em;
        margin: 1em;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer  ul {
        display: flex;
        gap: 1em;
    } 
}